FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=cambia-esta-clave-en-produccion

DB_HOST=db
DB_PORT=3306
DB_NAME=petcare_db
DB_USER=petcare_user
DB_PASSWORD=petcare_pass

JWT_SECRET_KEY=cambia-esta-jwt-key-en-produccion
JWT_ACCESS_TOKEN_EXPIRES=3600